<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="ad_user">
    <select id="selectUserList" parameterType="String" resultType="kr.co.kitri.member.vo.MemberVO">
        SELECT e.EMP_NO, e.EMP_ID, e.EMP_NAME, e.EMP_ID, e.EMP_PW, e.DEPT_NO, e.HIREDATE, e.POSITION
          FROM EMP e
         INNER JOIN DEPT d ON e.DEPT_NO = d.DEPT_NO
         WHERE e.DELETEFLAG='N'     
    </select> 
    
    <select id="selectUserListWithDept" parameterType="kr.co.kitri.common.SearchVO" resultType="kr.co.kitri.member.vo.MemberVO">
        SELECT e.EMP_NO, e.EMP_NAME, e.EMP_ID, e.DEPT_NO, d.DEPT_NAME, e.POSITION, TO_CHAR(e.hiredate, 'YYYY-MM-DD') hiredate
          FROM EMP e
         INNER JOIN DEPT d ON d.DEPT_NO=e.DEPT_NO
         WHERE e.DELETEFLAG='N' AND d.DELETEFLAG='N'
         
          <if test="searchExt1!=null and searchExt1!=''">
               AND e.DEPT_NO=#{searchExt1} 
           </if>
           <if test="searchKeyword!=null and searchKeyword!=''">
               AND e.EMP_NAME LIKE '%' || #{searchKeyword} || '%' 
           </if>
    </select> 
   
    
<!--     <select id="selectUserID" parameterType="String" resultType="String"> -->
<!--         SELECT USERID -->
<!--           FROM COM_USER CU -->
<!--          WHERE DELETEFLAG='N'  -->
<!--            AND USERID=#{userid}         -->
<!--     </select>  -->
   
<!--     <insert id="insertUser" parameterType="gu.member.UserVO" > -->
<!--         INSERT INTO COM_USER(USERID, USERNM, USERPW, USERROLE, PHOTO, DEPTNO, DELETEFLAG) -->
<!--         VALUES (#{userid}, #{usernm}, SHA2(#{userpw}, 256), #{userrole}, #{photo}, #{deptno}, 'N') -->
<!--     </insert> -->
    
<!--     <update id="updateUser" parameterType="gu.member.UserVO"> -->
<!--         UPDATE COM_USER -->
<!--            SET USERNM=#{usernm} -->
<!--              , USERROLE=#{userrole} -->
<!--              <if test="photo!=null and photo!=''">  -->
<!--                  , PHOTO=#{photo} -->
<!--              </if>      -->
<!--          WHERE DELETEFLAG='N' -->
<!--            AND USERNO=#{userno}  -->
<!--     </update>  -->

<!--     <update id="updateUserByMe" parameterType="gu.member.UserVO"> -->
<!--         UPDATE COM_USER -->
<!--            SET USERNM=#{usernm} -->
<!--              <if test="photo!=null and photo!=''">  -->
<!--                  , PHOTO=#{photo} -->
<!--              </if>      -->
<!--          WHERE DELETEFLAG='N' -->
<!--            AND USERNO=#{userno}  -->
<!--     </update>  -->
        
<!--     <select id="selectUserOne" parameterType="String" resultType="gu.member.UserVO"> -->
<!--         SELECT USERNO, USERID, USERNM, USERPW, USERROLE, PHOTO, DEPTNO -->
<!--           FROM COM_USER -->
<!--          WHERE DELETEFLAG='N'  -->
<!--            AND USERNO=#{userno} -->
<!--     </select>  -->
    
<!--     <delete id="deleteUser" parameterType="String"> -->
<!--         UPDATE COM_USER -->
<!--            SET DELETEFLAG='Y' -->
<!--          WHERE USERNO=#{userno} -->
<!--     </delete>  -->
    
<!--     <update id="updateUserPassword" parameterType="gu.member.UserVO"> -->
<!--         UPDATE COM_USER -->
<!--            SET USERPW=SHA2(#{userpw}, 256) -->
<!--          WHERE USERNO=#{userno}  -->
<!--     </update>  -->
        
</mapper>

